{% extends 'base.html.twig' %}

{% block title %}Consulter une séance{% endblock %}

{% block body %}
    {% include('enseignant/_nav_enseignant.html.twig') %}

    <h1>Consulter séance</h1>

    <a href="{{ path('enseignant') }}">Retour au menu</a>
{% endblock %}
