#groupIndex{
    border: 2px solid rgba(11, 135, 205, 0.83);
    background-color: rgba(185, 225, 255, 0.84);
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    margin: 2% 32% 2% 32%;
}

.separateBlock{
    border-top: 4px solid #48186a;
    margin: 2% 30% 2% 30%;
}

h1{
    text-align: center;
}