{% extends 'base.html.twig' %}

{% block title %}Enseignant - Ajouter une séance{% endblock %}

{% block body %}
    {% include('_nav_enseignant.html.twig') %}
    <div class="content">
        <h2>Ajouter une séance</h2>
        <hr class="">
    </div>

{% endblock %}
