{% extends 'base.html.twig' %}

{% block title %}Mon espace enseignant{% endblock %}

{% block body %}
    {% include('enseignant/_nav_enseignant.html.twig') %}
    <div class="content text-center">
        <h2 class="mt-2">Bienvenue sur votre espace enseignant</h2>
        <hr class="separateBlock">
        <div class="container">
            <div class="row align-items-center">
                <div id="divBlue" class="col mx-1"><a class="text-decoration-none text-white" href="{{ path('seance_new') }}">Ajouter une séance</a></div>
                <div id="divOrange" class="col mx-1"><a class="text-decoration-none text-white" href="#">Consulter une séance</a></div>
                <div id="divGreen" class="col mx-1"><a class="text-decoration-none text-white" href="{{ path('classe_new') }}">Créer une classe</a></div>
                <div id="divPurple" class="col mx-1"><a class="text-decoration-none text-white" href="#">Voir mes classes</a></div>
            </div>
        </div>
    </div>
{% endblock %}
